.background {
  position: relative;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  // padding: 24px;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  // 所有直接子元素都在背景之上
  > * {
    position: relative;
    z-index: 2;
  }
}

.main-image {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.detail-overview {
  font-weight: 400;
  line-height: normal;
}

.comment-card {
  background-color: var(--background-black);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
